/* variables */
:root {
  --bg-primary: #242943;
  --bg-secondary: #9bf1ff;
}

/* reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
a,
figure {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #ffffff;
  font-family: "Open Sans";
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* STYLES */
body {
  background-color: #242943;
}

header,
footer {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2.625rem;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.325rem;
  margin-bottom: 0.625rem;
}

a {
  text-decoration: none;
}

a.button.next:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' x…34' y2='12.5' /%3E%3Cline x1='25' y1='20' x2='34' y2='11.5' /%3E%3C/svg%3E");
  opacity: 0;
  z-index: 1;
}

body > #wrapper {
  padding: 3.25rem 2rem 0;
  -moz-transition: -moz-filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out;
  -webkit-transition: -webkit-filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out;
  -ms-transition: -ms-filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out;
  transition: filter 0.35s ease, -webkit-filter 0.35s ease, opacity 0.375s ease-out;
}

#wrapper > * {
  margin: 0 auto;
}

section.section1024 {
  max-width: 1024px;
  padding: 6rem 0;
}

.f-row {
  display: flex;
  flex-direction: row;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.button-wrapper {
  display: flex;
}

.button-link {
  padding: 1rem 2rem;
  margin: auto;
  border: 2px solid #ffffff;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  border-radius: 50px;
}

.button-link span {
  padding-left: 1rem;
}

.button-link:hover span:before {
  color: var(--bg-secondary);
}

.button-wrapper:hover a,
.button-link:hover,
.button-link a:hover {
  border-color: var(--bg-secondary);
  color: var(--bg-secondary);
}

.button-link span:before {
  content: "\ea3c";
  transform: translateY(-50%);
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  height: 2rem;
  width: 3rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.show {
  opacity: 1 !important;
}

.tile a {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.tile:hover header {
  transition: opacity 0.5s;
  opacity: 0.1;
}

@media screen and (max-width: 768px) {
  h2 {
    text-align: center;
  }

  .button-wrapper {
    display: flex;
    justify-content: center;
  }

  .button-link {
    width: 100%;
  }
}

/* header */
header#header {
  position: absolute;
  top: 0;
  left: 0;
  height: 3.25rem;
  width: 100%;
  align-items: center;
  -moz-transition: opacity 2.5s ease;
  -webkit-transition: opacity 2.5s ease;
  -ms-transition: opacity 2.5s ease;
  transition: opacity 2.5s ease;

}

header#header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  font-size: 0.8rem;
  letter-spacing: 0.25rem;
  height: inherit;
  line-height: inherit;
  padding: 0 1.5rem;
  text-transform: uppercase;
}

.icon,
.button-link,
header#header .logo strong,
header#header .logo span {
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

header#header .logo strong {
  background-color: #ffffff;
  color: #242943;
  display: inline-block;
  margin-right: 0.375rem;
  padding: 0 0.125rem 0 0.375rem;
  border-radius: 50px;
}

header#header .logo:hover strong {
  background-color: var(--bg-secondary);
}

header#header .logo:hover span {
  color: var(--bg-secondary);
}

@media screen and (max-width: 768px) {
  header#header .logo {
    padding: 0 1rem;
  }
}

header#header,
section#banner {
  opacity: 0;
  -moz-transition-delay: 0.75s;
  -webkit-transition-delay: 0.75s;
  -ms-transition-delay: 0.75s;
  transition-delay: 0.75s;
  -moz-animation: none;
  -webkit-animation: none;
  -ms-animation: none;
  animation: none;

}

/* BANNER */
section#banner {
  display: flex;
  justify-content: center;
  height: 75vh;
  min-height: 30em;
  max-height: 50em;
  -moz-transition: opacity 1.5s ease;
  -webkit-transition: opacity 1.5s ease;
  -ms-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease;

}

section#banner > * {
  margin: auto;
}

section#banner > .banner-text {
  width: 60%;
  padding-right: 2rem;
}

section#banner figure {
  display: flex;
  justify-content: center;
  align-items: center;
}

section#banner figure #banner-photo {
  order: 2;
  background-image: url(../images/banner-portrait.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: calc(100vw - 3em);
  height: calc(100vw - 3em);
  max-width: 300px;
  max-height: 300px;
  border-radius: 50%;
}

section#banner figure .banner-icons {
  order: 1;
  display: flex;
  flex-direction: column;
}

section#banner figure .banner-icons li {
  margin: auto;
  padding: 0 1rem 1rem 0;
}

section#banner figure .banner-icons li a:hover {
  background-color: var(--bg-secondary);
}

@media screen and (max-width: 768px) {
  section#banner,
  section#banner figure.banner-figure {
    flex-direction: column;
  }

  section#banner {
    height: auto;
    max-height: none;
  }

  section#banner figure.banner-figure {
    order: 1;
  }

  section#banner div.banner-text {
    order: 2;
    width: 100%;
    padding: 0;
  }

  section#banner div.banner-text br {
    display: none;
  }

  section#banner figure.banner-figure ul {
    order: 2;
    flex-direction: row;
    margin: 2rem 0;
  }
}

/* PROJECTS */
section#projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  position: relative;
  max-width: 1280px;
}

section#projects h2 {
  flex: 1 0 100%;
  max-width: 1024px;
  margin: 0 auto 2rem;
}

section#projects article {
  display: flex;
  justify-content: center;
  position: relative;
  width: 48%;
  height: 40vh;
  min-height: 22rem;
  max-height: 36rem;
  padding: 3rem 1.5rem 1rem 1.5rem;
  transition: transform 0.25s ease, opacity 0.25s ease, filter 1s ease, -webkit-filter 1s ease;
  cursor: pointer;
  border-radius: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

section#projects article > * {
  z-index: 3;
  position: relative;
}


section#projects article:before {
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  transition: opacity 0.5s ease;
  border-radius: 5px;
}

section#projects article:hover:before{
  opacity: 0;
}

section#projects article#project-one {
  background-image: url(../images/basketball.png);
}

section#projects article#project-one:before {
  background-color: #6fc3df;
}

section#projects article#project-two {
  background-image: url(../images/juice.png);
}

section#projects article#project-two:before {
  background-color: #8d82c4;
}

section#projects article#project-three,
section#projects article#project-four {
  margin-top: 2rem;
}

section#projects article#project-three {
  background-image: url(../images/tatd.png);
}

section#projects article#project-three:before {
  background-color: #f5cd79;
}

section#projects article#project-four {
  background-image: url(../images/ingrezza.png);
}

section#projects article#project-four:before {
  background-color: #cf6a87;
}



section#projects article h3 {
  font-weight: bolder;
}

section#projects article h3 + p {
  text-transform: uppercase;
  font-size: 0.7rem;
}

section#projects header {
  margin: auto;
}

section#projects article:hover header h3,
section#projects article:hover header p {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
}

@media screen and (max-width: 768px) {
  section#projects {
    flex-direction: column;
  }

  section#projects article {
    width: 100%;
    height: 60vh;
    min-height: 18rem;
    max-height: 32rem;
  }

  section#projects article:first-of-type {
    margin-bottom: 2rem;
  }
}

/* TECH */
section#tech .tech-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0 auto 3rem;
  padding: 3rem 0 2rem;
  min-height: 500px;
  border-radius: 5px;
}

.grid-block {
  border: 1px solid rgba(244, 244, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-block_category {
  border-right: none !important;
}

.grid-block_tech {
  font-size: 0.9rem;
  color: var(--bg-primary);
  border-right: none;
  margin: 1px 0;
  justify-content: flex-start;
  padding-left: 1rem;
  border-left: none;
}

.grid-block_bar {
  display: flex;
  justify-content: flex-start;
  border-left: none;
  border-color: transparent;
}

.grid-block_bar span.experience-bar {
  height: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.grid-block1,
.grid-block4,
.grid-block5,
.grid-block6,
.grid-block7,
.grid-block16 span,
.grid-block17 span,
.grid-block18 span,
.grid-block19 span {
  background-color: #1dd1a1;
}

.grid-block2,
.grid-block8,
.grid-block9,
.grid-block10,
.grid-block20 span,
.grid-block21 span,
.grid-block22 span {
  background-color: #48dbfb;
}

.grid-block3,
.grid-block11,
.grid-block12,
.grid-block13,
.grid-block14,
.grid-block15,
.grid-block23 span,
.grid-block24 span,
.grid-block25 span,
.grid-block26 span,
.grid-block27 span {
  background-color: #feca57;
}

.grid-block1 {
  grid-area: 1 / 1 / 5 / 2;
  border: 1px solid var(--bg-primary);
  border-top-left-radius: 5px;
}
.grid-block2 {
  grid-area: 5 / 1 / 8 / 2;
  border: 1px solid var(--bg-primary);
}
.grid-block3 {
  grid-area: 8 / 1 / 13 / 2;
  border: 1px solid var(--bg-primary);
  border-bottom-left-radius: 5px;
}
.grid-block4 {
  grid-area: 1 / 2 / 2 / 3;
}

.grid-block5 {
  grid-area: 2 / 2 / 3 / 3;
}
.grid-block6 {
  grid-area: 3 / 2 / 4 / 3;
}
.grid-block7 {
  grid-area: 4 / 2 / 5 / 3;
}
.grid-block8 {
  grid-area: 5 / 2 / 6 / 3;
}
.grid-block9 {
  grid-area: 6 / 2 / 7 / 3;
}
.grid-block10 {
  grid-area: 7 / 2 / 8 / 3;
}
.grid-block11 {
  grid-area: 8 / 2 / 9 / 3;
}
.grid-block12 {
  grid-area: 9 / 2 / 10 / 3;
}
.grid-block13 {
  grid-area: 10 / 2 / 11 / 3;
}
.grid-block14 {
  grid-area: 11 / 2 / 12 / 3;
}
.grid-block15 {
  grid-area: 12 / 2 / 13 / 3;
}
.grid-block16 {
  grid-area: 1 / 3 / 2 / 7;
  border-top-right-radius: 5px;
}
.grid-block16 span {
  width: 90%;
}
.grid-block17 {
  grid-area: 2 / 3 / 3 / 7;
}
.grid-block17 span {
  width: 90%;
}
.grid-block18 {
  grid-area: 3 / 3 / 4 / 7;
}
.grid-block18 span {
  width: 80%;
}
.grid-block19 {
  grid-area: 4 / 3 / 5 / 7;
}
.grid-block19 span {
  width: 40%;
}
.grid-block20 {
  grid-area: 5 / 3 / 6 / 7;
}
.grid-block20 span {
  width: 60%;
}
.grid-block21 {
  grid-area: 6 / 3 / 7 / 7;
}
.grid-block21 span {
  width: 80%;
}
.grid-block22 {
  grid-area: 7 / 3 / 8 / 7;
}
.grid-block22 span {
  width: 80%;
}
.grid-block23 {
  grid-area: 8 / 3 / 9 / 7;
}
.grid-block23 span {
  width: 60%;
}
.grid-block24 {
  grid-area: 9 / 3 / 10 / 7;
}
.grid-block24 span {
  width: 50%;
}
.grid-block25 {
  grid-area: 10 / 3 / 11 / 7;
}
.grid-block25 span {
  width: 50%;
}
.grid-block26 {
  grid-area: 11 / 3 / 12 / 7;
}
.grid-block26 span {
  width: 40%;
}
.grid-block27 {
  grid-area: 12 / 3 / 13 / 7;
  border-bottom-right-radius: 5px;
}
.grid-block27 span {
  width: 40%;
}

@media screen and (max-width: 768px) {
  section#tech .tech-grid {
    min-height: 300px;
    max-height: 400px;
    padding: 2rem 0 0;
  }

  section#tech .grid-block_category h4 {
    transform: rotate(-90deg);
  }
}

/* FOOTER */
footer > .copyright {
  font-size: 0.8rem;
  color: rgba(244, 244, 255, 0.2);
  margin-bottom: 1rem;
}

/* POINTS ANIMATION CONTAINER */
#points-container {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}